<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SQL Example App</title>

    <link rel="stylesheet" href="src/app.css">
  </head>
  <body ng-app="pokesql">
    <poke-sql-app></poke-sql-app>

    <script type="text/ng-template" id="control.html">
      <div id="editor" style="height: 10em;"></div>
      
      <button ng-click="$ctrl.execute()">Execute</button>

      <div id="output">
        <ul>
          <li ng-repeat="output in $ctrl.output">{{output}}</li>
        </ul>
      </div>
    </script>
  </body>

  <script src="bower_components/ace-builds/src-noconflict/ace.js"></script>
  <script src="bower_components/ace-builds/src-noconflict/mode-sql.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
  <script>
    // You can also require other files to run in this process
    require('./src/app.js')
  </script>
</html>
