<section class="battle">
	<div class="bot pokemon">
		<div class="info">
			<div class="name">{{pokemon1.name}}</div>
			<div class="hpbar">
				<span class="label">HP</span><div class="bar"></div>
			</div>
		</div>
		<div class="character">
			<img src="assets/imgs/{{pokemon1.id}}.png">
		</div>
	</div>
	<div class="user pokemon">
		<div class="info">
			<div class="name">{{pokemon2.name}}</div>
			<div class="hpbar">
				<span class="label">HP</span><div class="bar"></div>
			</div>
			<div class="currenthp">42/42</div>
		</div>
		<div class="character">
			<img src="assets/imgs/back/{{pokemon2.id}}.png">
		</div>
	</div>
</section>
