@font-face {
  font-family: 'PokemonGB';
  src: url(fonts/PokemonGb.ttf);
}

body {
  width: 100%;
  height: 100%;
  padding: 1em;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'PokemonGB';

  .row {
    display: flex;
  }

  textarea {
    width: 100%;
  }

  #output {
    background: #ccc;
    width: 100%;
    height: 10em;
    overflow: auto;
  }
}

