.input {
	position: relative;
	box-sizing: border-box;
	z-index: 1;
	height: 10em;
	background-color: #24302F;
	padding: .3em;

	.hint {
		box-sizing: border-box;
		width: 49%;
		float: left;
		color: #fff;
		background-color: #2C4F63;
		border: 8px solid #C6A74A;
		border-radius: 12px 5px 5px 12px;
		box-shadow: inset 0px 0px 5px 5px rgba(255,255,255,1);
		height: 100%;
		padding: 1em;
		margin-right: 1%;
		overflow: scroll;
	}

	#editor {
		box-sizing: border-box;
		border: 8px solid #8984BA;
		border-radius: 12px;
		width: 50%;
		height: 100%;
		padding-bottom: 2em;
	}

	button {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}
